*.a
*.bin
*.map
*.png
*.log
*.elf
*.ihex
*.hex
*.arduino
obj_*
symbols.*
Makefile.target
doc/html
patches-*
tools/tunslip6
.vscode/
cpu/avr/dev/nrf24l01_atmega328p_aux.h
cpu/avr/dev/nrf24l01_atmega328p_aux.c
examples/test-loopback-mosi-miso/
examples/test-nrf-sending-digits/
examples/test-pure-writing/
examples/rime/
examples/test-nrf-simple/OLD-simple-receiver.c
examples/test-nrf-simple/OLD-simple-sender.c
PORTING-NOTES